.parameters-pop-up {
    background: linear-gradient(239.97deg, #701C74 1.01%, #914A7E 98.9%);
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: white;
}

.parameter-input {
    background-color: white;
    border-radius: 12px;
    height: 40px;
}

.parameter-submit{
    border-style: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    width: 32px;
    height: 32px;
    align-self: flex-end;
    margin-top: 40px;
}
