$popup_width: 50vh;
$popup_height: 50vh;

.parameter-submit {
  width: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.parameters-pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: $popup_width;
  height: $popup_height;
  padding: 30px;

  background: linear-gradient(239.97deg, #701c74 1.01%, #914a7e 98.9%);
  border-radius: 12px;

  /*For ScrollBar*/
  overflow-y: auto;
}

.parameters-pop-up :-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
}

.parameters-pop-up ::-webkit-scrollbar-track {
  background: #6a5b70;
  border-radius: 20px; /* color of the tracking area */
}

.parameters-pop-up ::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.parameters-pop-up input,
.parameters-pop-up select {
  color: #6a5b70;
  font-size: 13px;
}

.parameters-pop-up input,
.parameters-pop-up select,
.parameters-pop-up button.save {
  padding: 3%;
  background-color: white;
  border-radius: 12px;
  border: none;
  margin: 0em 0.6em 0.6em 0em;
}

.parameters-pop-up button.save {
  font-family: Montserrat;
  background-color: #edeaef;
  color: rgba(112, 28, 116, 1);
  text-align: center;
  font-size: 16px;
  padding: 0em 2em;
}

.parameters-pop-up input.file-type {
  font-size: 15px;
}

.parameters-pop-up select {
  /* Removing default apperance */
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Arrow */
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.parameters-pop-up .select-section input {
  width: 40%;
}

.parameters-pop-up .submit-section {
  display: flex;
  justify-content: space-between;
}

.parameters-pop-up .trash-paramter-image {
  width: 21px;
}

.parameters-pop-up .select-section {
  align-items: center;
}

.parameters-pop-up .new-parameter,
.parameters-pop-up .new-constraint {
  display: inline-flex;
  align-items: center;
}

.parameters-pop-up .new-parameter-text {
  font-family: Montserrat;
  font-size: 12px;
  color: #d4c0d8;
}

.parameters-pop-up .icon.new {
  margin-right: 5px;
}

.parameters-pop-up .new-parameter .icon.new {
  width: 21px;
}

.parameters-pop-up .new-constraint .icon.new {
  width: 17px;
}

.parameters-pop-up .parameters > p,
.parameters-pop-up .constraints > p {
  font-family: Montserrat;
  font-size: 14px;
  color: white;
}

.parameters-pop-up .constraints {
  margin-left: 4%;
}

.parameters-pop-up .new-constraint-text {
  font-family: Montserrat;
  font-size: 12px;
  color: #d4c0d8;
}
