.registered-users-page .registered-users-page{
    position: relative;
    min-height: 100vh;
}

.registered-users-page .body-container{
    margin-left: 50px;
    margin-top: 50px;
}

.add-type-button{
    position: fixed;
}