header.page-header {
    padding: 2em 3em;
}

.page-title{
    margin-left: 5%;
}

.icon.user {
    margin-left: 10px;
    width: 22px;
} 

.username {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 1em;
    line-height: 17px;
    color: #701C74;
}

.page-title {
    float:left;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #701C74;
}

.navbar-toggle {
    float:left;
    margin-block-start: 2em;
}

header.page-header .user-nav {
    float: right;
    margin-top: 0.5%;
    display: flex;
    align-items: center;
    gap: 16px;
}

header.page-header .logout-btn {
    background: rgba(74, 196, 244, 0.8);
    border-radius: 12px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-family: Montserrat, serif;

    color: white;

}

button{
    outline: none;
}

.go-back-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 3rem;

    .username {
        margin: 0 0 0 90px;
    }
}