.icon.hamburger {
  width: 20px;
}

.side-bar .icon.hamburger {
  margin: 5em 0em 5em 4em;
}

.side-bar-items {
  padding: 0;
}

.side-bar {
  top: 0;
  position: absolute;
}

.side-bar {
  background: linear-gradient(135deg, #DBA18C 0%, #C1878F 6.06%, #9F608D 15.49%, #8D4C8E 22.65%, #894990 26.65%, #84458F 39.01%, #804994 50.9%, #79559E 62.61%, #7468B0 74.2%, #6E87C9 85.72%, #67AEEB 97.02%, rgba(100, 185, 244, 1) 100%);  
  width: 13.5em;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
}

.side-bar li {
  list-style: none;
}

.side-bar.active {
  margin-top: 0;
  left: 0;
  transition: 350ms;
}

.page-title, .go-back-container {
  transition: 350ms;
}
  
.go-back-container.active,
.page-title.active {
  transition: 450ms;
  transition-delay: 50ms;
}

.go-back-container.active {
  margin-left: 13.5em;
}

.page-title.active {
  margin-left: 8em;
}

.nav-text {
  display: flex;
  width: 105%;
  margin-top: 1em;
  background-color:#4AC4F4;
  
  font-family: montserrat;
  font-size: 15px;
  color: white;
  text-decoration: none;
  
  width: 100%;
  padding: 0em 1em;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.nav-text:hover {
  background-color: #587FE7;
}

.nav-text:active {
  background-color: #587FE7;
}