.icon.back-arrow {
    width: 24px;
    margin-left: 3em;
    float: left;
}

.submission-block {
  border-radius: 12px;
  background: rgb(246, 244, 249);
  background: linear-gradient(
    90deg,
    rgba(246, 244, 249, 1) 0%,
    rgba(246, 244, 249, 1) 97.5%,
    rgba(74, 195, 243, 1) 97.5%,
    rgba(74, 195, 243, 1) 100%
  );
  padding: 1.5em 4em 1.2em 2em;
}

.submission-block header {
  margin-bottom: 3em;
}

.submission-block .box-title {
  display: flow-root;
}

.submission-block header h2 {
  font-family: Montserrat;
  color: #6a5b70;
  font-size: 18px;
  margin-bottom: 0.3em;
  margin-top: 0;
  float: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.submission-block header .submission-author {
  font-family: Montserrat;
  color: #6a5b70;
  float: right;
}

.submission-block header p.date {
  font-size: 14px;
}

.submission-block p {
  color: #6a5b70;
  font-size: 16px;
  margin-top: 0;
}

.submission-block .highlights .highlight {
  margin-bottom: 1.5em;
}

.submission-block .highlights .highlight h3 {
  font-family: Montserrat;
  color: #6a5b70;
  font-size: 16px;
  margin-bottom: 0.5em;
}

.submission-block .highlights {
  margin-bottom: 3em;
}

.submission-block button {
  background-color: #8b478f;
  border: none;
  border-radius: 12px;
  padding: 0.5em 1.1em;

  color: #f7f4f9;
  font-family: Montserrat;
  font-size: 15px;
}
