.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px 60px;
    // background : linear-gradient(135deg, rgba(219, 161, 140, 1) 0%, rgba(189, 125, 134, 0.96) 6.06%, rgba(147, 76, 127, 0.89) 15.49%, rgba(121, 45, 122, 0.85) 22.65%, rgba(111, 33, 120, 0.82) 26.65%, rgba(111, 37, 123, 0.85) 39.01%, rgba(110, 48, 133, 0.88) 50.9%, rgba(108, 68, 148, 0.91) 62.61%, rgba(107, 95, 171, 0.94) 74.2%, rgba(104, 130, 199, 0.96) 85.72%, rgba(101, 173, 234, 0.99) 97.02%, rgba(100, 185, 244, 1) 100%);
    border-radius: 0px 0px 10px 10px;
}

