.submissions.admin tr > :nth-child(1) {
  width: 25px;
}

.submissions.admin tr > :nth-child(2) {
  width: 15%;
}

.submissions.admin tr > :nth-child(3) {
  width: 40px;
}

.submissions.admin tr > :nth-child(4) {
  width: 10%;
}

.submissions.admin tr > :nth-child(5) {
  width: 30%;
  max-width: 30%;
}

.submissions.admin tr > :nth-child(6) {
  width: 10%;
}

.submissions.admin tr > :nth-child(7) {
  width: 10%;
}
