.icon {
  cursor: pointer
}

.content {
  margin: 5% 10%;
}

body {
  margin: 0;
  font-family: Anaheim;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus{
  outline: none;
}
