.icon {
  cursor: pointer;
  vertical-align: middle;
}

button {
  cursor: pointer
}

.content {
  margin: 5% 10%;
}

header {
  display: flow-root;
}

body {
  margin: 0;
  font-family: Anaheim;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
